
<nav class="docs-sidebar hidden-print toc-wrapper">
  <h6 class="text-primary">Components</h6>
  <ul class="nav table-of-contents docs-sidebar">
    <li><a href="buttons.html">Buttons</a></li>
    <li><a href="forms.html">Forms</a>
      <ul class="table-of-contents nav">
        <li><a href="#input">Input Fields</a></li>
        <li><a href="#textarea">Textareas</a></li>
        <li><a href="#select">Select</a></li>
        <li><a href="#radio">Radio Buttons</a></li>
        <li><a href="#checkbox">Checkboxes</a></li>
        <li><a href="#switches">Switches</a></li>
        <li><a href="#file">File Input Button</a></li>
        <li><a href="#date-picker">Date picker</a></li>
      </ul>
    </li>
    <li><a href="grid.html">Grid</a></li>
    <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
    <li><a href="cards.html">Cards</a></li>
    <li><a href="tabs.html">Tabs</a></li>
    <li><a href="pagination.html">Pagination</a></li>
  </ul>
</nav>