
<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top z-depth-2">
    <div class="container"><a href="home-an.html" class="navbar-brand">
        <object id="front-page-logo" type="image/svg+xml" data="images/social-logo-white.svg">Your browser does not support SVG</object></a>
      <div class="navbar-header">
        <button href="#" data-toggle="collapse" data-target="#menu-dropdown" type="button" aria-haspopup="true" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><i title="menu" class="material-icons">menu     </i></button>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="login.html">Log in</a></li>
          <li><a href="sign-up.html">Sign up</a></li>
        </ul>
      </div>
      <div id="menu-dropdown" aria-expanded="false" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <form role="search" method="get" action="search-content.html" class="navbar-form navbar-left">
              <div id="navbar-search" class="form-group">
                <input id="search" type="text" placeholder="Search" name="search" autocomplete="off" class="form-control"/>
                <input type="submit" value="" class="form-submit"/><span class="search-icon">
                  <svg>
                    <title>Search</title>
                    <use xlink:href="#icon-search"></use>
                  </svg></span>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>