
<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top z-depth-2">
    <div class="container"><a class="navbar-brand" href="index.html">
        <object type="image/svg+xml" data="images/social-logo-white.svg">Your browser does not support SVG</object></a>
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" href="#" data-toggle="collapse" data-target="#menu-dropdown" type="button" aria-haspopup="true" aria-expanded="false">
          <svg class="icon-white icon-medium">
            <title>Toggle navigation</title>
            <use xlink:href="#icon-menu"></use>
          </svg><span class="sr-only">Toggle navigation</span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="menu-dropdown" aria-expanded="false">
        <ul class="nav navbar-nav">
          <li class="hidden-xs"><a href="index.html">Home</a></li>
          <li><a href="prototype.html">Prototype</a></li>
          <li><a href="getting-started.html">Getting started</a></li>
          <li><a href="color.html">Style &amp; content</a></li>
          <li><a href="buttons.html">Components</a></li>
          <li><a href="layout.html">Layout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>