# Schema for the views plugins of the Group module.

views.access.group_permission:
  type: 'mapping'
  label: 'Group permission'
  mapping:
    group_permission:
      type: 'string'
      label: 'Group permission'

views.argument_default.group_id_from_url:
  type: 'sequence'
  label: 'Group ID from current route'
  sequence:
    type: 'string'
    label: 'Group ID'

# @todo Perhaps provide a base data type for these?
views.relationship.group_content_to_entity:
  type: 'views_relationship'
  label: 'Group content to entity reference'
  mapping:
    group_content_plugins:
      type: 'sequence'
      label: 'Group content plugins'
      sequence:
        type: 'string'
        label: 'Group content plugin ID'

views.relationship.group_content_to_entity_reverse:
  type: 'views_relationship'
  label: 'Reverse group content to entity reference'
  mapping:
    group_content_plugins:
      type: 'sequence'
      label: 'Group content plugins'
      sequence:
        type: 'string'
        label: 'Group content plugin ID'
