.list-group
  .list-group-item
    h6.list-group-item-heading.text-primary Style &amp; Content
  a.list-group-item(href='color.html', class=(page == "Color" ? "active" : "")) Color
  a.list-group-item(href='type.html', class=(page == "Type" ? "active" : "")) Type
  a.list-group-item(href='tables.html', class=(page == "Tables" ? "active" : "")) Tables
  a.list-group-item(href='images.html', class=(page == "Images" ? "active" : "")) Images
